@bg-lightblue: #81b3d2;
@bg-white: #ffffff;
@bg-grey: #eeeeee;
@bg-body: #f2f2f2;

@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1280px)";

@shade-red: rgba(255, 0, 0, 0.3);
@shade-green: rgba(0, 255, 0, 0.1);
@shade-yellow: rgba(255, 255, 0, 0.3);
@shade-blue: rgba(0, 0, 255, 0.3);
