.feature-description {
  color: #ffffff;
  text-transform: uppercase;
}

.feature-description__title {
  .font-title();
}

.feature-description__number,
.feature-description__caption {
  .font-caption();
}

.feature-description--rest {
  color: #000000;
}

.feature-description__number--rest {
  color: #333333;
}
