.feature-benefits {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 8px;
  background-color: @bg-white;
}

@media @tablet-width {

  .feature-benefits {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 160px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
}

@media @desktop-width {

  .feature-benefits {
    margin-bottom: 50px;
  }
}
