.feature-description {
  color: #ffffff;
  text-transform: uppercase;
}

.feature-description__title {
  margin: 0;
  padding-top: 30px;
  .font-title();
}

.feature-description__number,
.feature-description__caption {
  .font-caption();
}

.feature-description__number {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.feature-description__caption {
  margin: 0;
  padding-bottom: 30px;
}

.feature-description--rest {
  color: #000000;
}

.feature-description__number--rest {
  color: #333333;
}
