.feature-benefit {
  background-color: @bg-white;
  text-transform: uppercase;
}

.feature-benefit__heading {
  display: block;
  padding-bottom: 12px;
  .font-title();
  color: #000000;
}

.feature-benefit__caption {
  margin: 0;
  padding-bottom: 30px;
  .font-caption();
  color: #333333;
}
