.feature-benefit {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 50px;
  background-color: @bg-white;
  text-transform: uppercase;
}

.feature-benefit__heading {
  display: block;
  padding-bottom: 12px;
  .font-title();
  color: #000000;
}

.feature-benefit__caption {
  margin: 0;
  padding-bottom: 30px;
  .font-caption();
  color: #333333;

  &--desktop {
    display: none;
  }
}

@media @tablet-width {
  .feature-benefit {
    margin: 0;
    padding: 0;
    width: 165px;
    text-align: center;

    &:nth-child(2) {
      order: 3;
    }

    &:last-child {
      width: 155px;
      order: 2;
    }
  }

  .feature-benefit__heading {
    font-size: 21px;
  }

  .feature-benefit__caption {
    padding-top: 10px;
  }
}

@media @desktop-width {

  .feature-benefit {
    width: 290px;

    &:last-child {
      width: 290px;
    }
  }



  .feature-benefit__caption {

    &--rest {
      .visually-hidden();
    }

    &--desktop {
      display: flex;
    justify-content: center;
    width: 214px;
    padding-left: 37px;
    }
  }
}
