.feedback-form__name,
.feedback-form__contacts,
.feedback-form__radio,
.feedback-form__checkbox,
.feedback-form__textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

.feedback-form__title {
  display: block;
  margin: 0;
  padding: 20px 0;
  .font-title();
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
