.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__title {
  display: block;
  margin: 0;
  padding: 20px 0;
  .font-title();
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.feedback-form__warning {
  display: none;
}

@media @tablet-width {

  .feedback-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback-form__radio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 1;
  }

  .feedback-form__name {
    order: 2;
  }

  .feedback-form__contacts {
    display: flex;
    flex-direction: column;
    order: 3;
    align-self: center;
    width: 100%;
  }

  .feedback-form__checkbox {
    display: flex;
    flex-direction: column;
    order: 4;
    align-self: center;
    width: 100%;
  }

  .feedback-form__checkbox-container {
    display: flex;
    flex-wrap: wrap;
  }

  .feedback-form__textarea {
    display: flex;
    flex-direction: column;
    order: 5;
    align-self: center;
    width: 100%;
  }

  .feedback-form__warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 7;
    .font-regular-grey();
  }

  .feedback-form__title {
    align-self: center;
    width: 300px;
  }
}

@media @desktop-width {

  .feedback-form__name {
    width: 50%;
  }

   .feedback-form__contacts {
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
   }

   .feedback-form__contacts .feedback-form__title {
     width: 100%;
   }

   .feedback-form__checkbox .feedback-form__title {
     margin-top: 50px;
   }

   .feedback-form__checkbox-container {
     flex-wrap: nowrap;
   }
}
