.feedback-item__label {
  align-self: center;
  margin-bottom: 20px;
  padding-right: 15px;
  .font-regular-grey();
}

.feedback-item__input {
  margin-bottom: 20px;
  padding: 0;
  padding-left: 18px;
  height: 50px;
  border: 4px solid @bg-body;
  .font-title();
  background-color: @bg-body;

  &:hover {
    border: 4px solid #e5e5e5;
    background-color: #e5e5e5;
  }

  &:focus {
    border: solid 4px #e6e6e6;
    background-color: @bg-white;
    outline: none;
  }
}

.feedback-item__radio-label,
.feedback-item__checkbox-label,
.feedback-item__textarea-label {
  .font-title();
  color: #000000;
}

.feedback-item__radio-input,
.feedback-item__checkbox-input {
  .visually-hidden();
}

.feedback-item__radio-label,
.feedback-item__checkbox-label {
  padding-left: 80px;
}

.feedback-item__textarea-input {
  border: 0;
  padding: 18px 0 0 18px;
  border: 4px solid @bg-body;
  width: 251px;
  height: 134px;
  .font-title();
  background-color: @bg-body;

  &:hover {
    border: 4px solid #e5e5e5;
    background-color: #e5e5e5;
  }

  &:focus {
    border: solid 4px #e6e6e6;
    background-color: @bg-white;
    outline: none;
  }
}

.feedback-item__textarea-input:focus + .feedback-item__textarea-label {
  display: none;
}

.feedback-item__textarea-label {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-top: 16px;
  cursor: text;
}

.feedback-item--name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-item--name input[name="first-name"] {
  width: 204px;
}

.feedback-item--name input[name="last-name"] {
  width: 166px;
}

.feedback-item--name input[name="patronymic-name"] {
  width: 168px;
}

.feedback-item--contacts {

  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    z-index: 2;
  }
}

.feedback-item--contacts .feedback-item__input {
  position: relative;
  width: 254px;
  height: 50px;
  margin: 0;
}

.feedback-item--contacts .feedback-item__label {
  position: relative;
  display: block;
  margin-bottom: 6px;
  padding-left: 22px;
}

.feedback-item--contacts .feedback-item__label::before {
  position: absolute;
  top: 95px;
  display: inline;
  content: "Ошибка, перепроверьте номер";
  font-size: 14px;
  line-height: 26px;
  color: #ff5c5c;
  text-transform: none;
}

.feedback-item--contacts:last-child .feedback-item__label {
  padding-top: 43px;
}

.feedback-item--contacts:last-child .feedback-item__label::before {
  position: absolute;
  top: 135px;
  display: inline;
  z-index: 5;
  content: "Ошибка, перепроверьте адрес";
  color: #ff5c5c;
}

.feedback-item__icon--phone {
  position: absolute;
  top: 52px;
  right: 19px;
  z-index: 3;
}

.feedback-item__icon--mail {
  position: absolute;
  top: 96px;
  right: 21px;
  z-index: 3;
}

.feedback-item--radio,
.feedback-item--checkbox {
  margin-top: 17px;
  margin-bottom: 42px;
}

.feedback-item--checkbox {
  margin-top: 10px;
  margin-bottom: 54px;
}

.feedback-item--textarea {
  position: relative;
}

.feedback-item--radio input[type="radio"] + label {
  position: relative;
  cursor: pointer;
}

.feedback-item--radio input[type="radio"] + label::before {
  position: absolute;
  top: -15px;
  left: 0;
  content: "";
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.feedback-item--radio input[type="radio"]:hover + label::before {
  background-color: #e5e5e5;
}

.feedback-item--radio input[type="radio"]:active + label::before {
  background-color: #d5d5d5;
  opacity: 0.3;
}

.feedback-item--radio input[type="radio"]:checked + label::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #333333;
  top: 2px;
  left: 18px;
}

.feedback-item--radio input[type="radio"]:active + label::after {
  opacity: 0.3;
}

.feedback-item--checkbox input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
}

.feedback-item--checkbox input[type="checkbox"] + label::before {
  position: absolute;
  left: -1px;
  top: -15px;
  content: "";
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.feedback-item--checkbox input[type="checkbox"]:hover + label::before {
  background-color: #e5e5e5;
}

.feedback-item--checkbox input[type="checkbox"]:active + label::before {
  background-color: #d5d5d5;
}

.feedback-item--checkbox input[type="checkbox"]:active + label::after {
  opacity: 0.3;
}

.feedback-item--checkbox input[type="checkbox"]:checked + label::after {
  position: absolute;
  left: 17px;
  top: 5px;
  content: "";
  width: 23px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 23px 16px;
}


@media @tablet-width {

  .feedback-item--checkbox {
    width: 50%;
    margin-top: 55px;
    margin-bottom: 7px;

    &:first-child {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:last-child {
      order: 4;
    }
  }

  .feedback-item--checkbox:first-child input[type="checkbox"] + label::before,
  .feedback-item--checkbox:nth-child(2) input[type="checkbox"] + label::before {
    left: 95px;
  }

  .feedback-item--checkbox:last-child input[type="checkbox"] + label::before,
  .feedback-item--checkbox:nth-child(3) input[type="checkbox"] + label::before {
    left: 30px;
  }

  .feedback-item--checkbox:first-child input[type="checkbox"]:checked + label::after,
  .feedback-item--checkbox:nth-child(2) input[type="checkbox"]:checked + label::after {
    left: 113px;
  }

  .feedback-item--checkbox:last-child input[type="checkbox"]:checked + label::after,
  .feedback-item--checkbox:nth-child(3) input[type="checkbox"]:checked + label::after, {
    left: 48px;
  }

  .feedback-item__checkbox-label {
    padding-left: 175px;
  }

  .feedback-item--checkbox:nth-child(3) .feedback-item__checkbox-label,
  .feedback-item--checkbox:last-child .feedback-item__checkbox-label {
    padding-left: 110px;
  }

  .feedback-item__textarea-input {
    padding: 18px 0 0 18px;
    width: 622px;
    min-height: 135px;
  }

  .feedback-item--submit {
    order: 6;
    width: 325px;
  }

  .feedback-item--radio {
    margin-top: 52px;
    margin-bottom: 0;
  }

  .feedback-item__radio-label {
    padding-left: 75px;
  }

  .feedback-item--name {
    align-items: center;
    width: 265px;
    height: 58px;
    padding-left: 57px;
    margin-bottom: 20px;
  }

  .feedback-item--name input[name="first-name"] {
    width: 189px;
  }

  .feedback-item--name input[name="last-name"] {
    width: 152px;
  }

  .feedback-item--name input[name="patronymic-name"] {
    width: 154px;
  }

  .feedback-item--name .feedback-item__input {
    margin-bottom: 0;
  }

  .feedback-item--name .feedback-item__label {
    margin-bottom: 0;
  }

  .feedback-item--contacts {
    margin-top: 24px;
  }

  .feedback-item--contacts:last-child .feedback-item__label {
    padding-top: 0;
  }

  .feedback-item--contacts .feedback-item__input {
    width: 622px;
  }

  .feedback-item--contacts .feedback-item__label::before {
    top: 0;
    right: 0;
  }

  .feedback-item--contacts:last-child .feedback-item__label::before {
    top: 0;
    right: 0;
  }

  .feedback-item__icon--mail {
    top: 54px;
    right: 21px;
  }
}

@media @desktop-width {

  .feedback-item--name {
    display: block;
    width: 480px;
    padding-left: 0;
  }

  .feedback-item--name .feedback-item__label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 80px;
    padding-right: 9px;
    text-align: left;
  }

  .feedback-item--name .feedback-item__input {
    display: inline-block;
    vertical-align: middle;
  }

  .feedback-item--name input[name="first-name"] {
    width: 324px;
  }

  .feedback-item--name input[name="last-name"] {
    width: 286px;
  }

  .feedback-item--name input[name="patronymic-name"] {
    width: 288px;
  }

  .feedback-item__radio-label {
    padding-left: 80px;
  }

  .feedback-item--contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-top: 73px;
  }

  .feedback-item--contacts:first-of-type {
    &::before {
      right: 78px;
    }
  }

  .feedback-item--contacts .feedback-item__input,
  .feedback-item--contacts .feedback-item__label {
    margin-bottom: 0;
  }

  .feedback-item--contacts .feedback-item__input {
    width: 291px;
  }

  .feedback-item--contacts .feedback-item__label {
    padding-right: 16px;
    padding-left: 0;
  }

  .feedback-item--contacts .feedback-item__label::before {
    width: 200px;
    top: -48px;
    left: 107px;
  }

  .feedback-item--contacts:last-child .feedback-item__label::before {
    top: -48px;
    left: 185px;
  }

  .feedback-item__icon--phone {
    top: 20px;
    right: 99px;
  }

  .feedback-item__icon--mail {
    top: 22px;
  }

  .feedback-item--checkbox {
    margin-top: 57px;
  }

  .feedback-item__checkbox-label {
    padding-left: 80px;
  }

  .feedback-item--checkbox:nth-child(2) .feedback-item__checkbox-label {
    padding-left: 118px;
  }

  .feedback-item--checkbox:nth-child(3) .feedback-item__checkbox-label {
    padding-left: 100px;
  }

  .feedback-item--checkbox:last-child .feedback-item__checkbox-label {
    padding-left: 116px;
  }

  .feedback-item__textarea-input {
    width: 934px;
  }

  .feedback-item--submit {
    width: 50%;
  }

  .feedback-item__label--hidden {
    display: none;
  }

  .feedback-item--radio input[type="radio"] + label::before {
    left: 4px;
  }

  .feedback-item--radio input[type="radio"]:checked + label::after {
    left: 22px;
  }

  .feedback-item--checkbox:first-child input[type="checkbox"] + label::before {
    left: 0;
  }

  .feedback-item--checkbox:nth-child(2) input[type="checkbox"] + label::before {
    left: 35px;
  }

  .feedback-item--checkbox:nth-child(3) input[type="checkbox"] + label::before {
    left: 20px;
  }

  .feedback-item--checkbox:last-child input[type="checkbox"] + label::before{
    left: 35px;
  }

  .feedback-item--checkbox:first-child input[type="checkbox"]:checked + label::after {
    left: 18px;
  }

  .feedback-item--checkbox:nth-child(2) input[type="checkbox"]:checked + label::after {
    left: 53px;
  }

  .feedback-item--checkbox:nth-child(3) input[type="checkbox"]:checked + label::after {
    left: 37px;
  }

  .feedback-item--checkbox:last-child input[type="checkbox"]:checked + label::after {
    left: 53px;
  }
}
