.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  background-color: @bg-white;
  text-transform: uppercase;
  text-align: center;
}

.hotel-search__heading {
  display: block;
  padding-top: 27px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-search__caption {
  width: 265px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 35px;
  .font-regular();
  font-weight: normal;
  color: #333333;
}

.hotel-search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 58px;
  margin-bottom: 49px;
  font-size: 21px;
}

@media @tablet-width {

  .hotel-search__heading {
    padding-top: 55px;
    font-size: 30px;
  }

  .hotel-search__caption {
    width: 450px;
    margin-top: 10px;
  }

  .hotel-search__btn {
    width: 458px;
    margin-top: 8px;
    margin-bottom: 59px;
  }
}

@media @desktop-width {

  .hotel-search__btn {
    margin-top: 15px;
    margin-bottom: 64px;
  }
}
