.main-nav {
  background-color: @bg-white;
}

.main-nav__items {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  background-color: @bg-lightblue;
  list-style: none;
}

.main-nav__link {
  .font-nav();
  text-transform: uppercase;
}
