.main-image {
  display: flex;
  justify-content: center;
  min-height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.main-image--rest {
  min-height: 158px;
}

@media @tablet-width {
  .main-image {
    min-height: 518px;
  }

  .main-image--rest {
    min-height: 290px;
  }
}
