.main-nav__items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  background-color: @bg-lightblue;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 54px;
  list-style: none;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:first-child {
    border-top: 1px solid @bg-lightblue;
  }

  &:last-child {
    border-bottom: none;
    box-shadow: inset 0px -5px 7px -5px rgba(0, 0, 0, 0.35);
  }

  &:hover {
    border-top: 1px solid #86b2cd;
    border-bottom: 1px solid #678fa8;
    background-color: #669ec0;
  }

  &:active {
    border-top: 1px solid #77acca;
    border-bottom: 1px solid #678fa8;
    background-color: #5496bd;
  }
}

.main-nav__item:active .main-nav__link {
  color: #94b9d2;
}

.main-nav__link {
  .font-nav();
  text-transform: uppercase;
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  display: block;
  font-size: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

// .main-nav--closed {
//   display: none;
// }

// .main-nav--opened {
//   display: block;
// }

.main-nav--closed .main-nav__toggle {
  top: 240px;
  right: 20px;
  width: 23px;
  height: 21px;
  background-color: @bg-white;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: @bg-lightblue;
  box-shadow: 0 17px 0 0 @bg-lightblue;
}

.main-nav--closed .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 23px;
  height: 3px;
  border-top: solid 1px #c0d9e8;
  border-bottom: solid 1px #c0d9e8;
  background-color: @bg-lightblue;
}

.main-nav--opened .main-nav__toggle {
  top: 26px;
  right: 23px;
  width: 23px;
  height: 22px;
  background-color: @bg-lightblue;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 4px;
    background-color: @bg-white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media @tablet-width {

  .main-nav {
    min-height: 56px;
  }

  .main-nav__items {
    flex-direction: row;
    justify-content: flex-start;
    background-color: @bg-white;
    border: none;
  }

  .main-nav__item {
    border: none;


    &:first-child {
      padding-left: 49px;
      border: 0;
    }

    &:nth-child(2) {
      margin-left: 77px;
    }

    &:nth-child(3) {
      margin-left: 209px;
    }

    &:last-child {
      margin-left: 49px;
      box-shadow: none;
    }

    &:hover {
      background-color: @bg-white;
      border: none;
    }

    &:active {
      background-color: @bg-white;
      color: rgba(0, 0, 0, 0.3);
      border: none;
    }

  }

  .main-nav__link {
    font-size: 14px;
    line-height: 26px;
    color: #000000;

    &:hover {
      color: @bg-lightblue;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: @bg-white;
    }
  }

  .main-nav__link--active {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: rgba(118, 99, 87, 0.3);
      background-color: @bg-white;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item:active .main-nav__link {
  color: rgba(118, 99, 87, 0.3);
}
}

@media @desktop-width {

  .main-nav__item {

    &:first-child {
      padding-left: 90px;
    }

    &:nth-child(2) {
      margin-left: 163px;
    }

    &:nth-child(3) {
      margin-left: 382px;
    }

    &:last-child {
      margin-left: 137px;
    }
  }
}
