.main-nav__wrapper {
  .container();
  background-color: @bg-white;
}

.main-nav__items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  background-color: @bg-lightblue;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 54px;
  list-style: none;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:first-child {
    border-top: 1px solid @bg-lightblue;
  }

  &:last-child {
    border-bottom: none;
  }
}

.main-nav__link {
  .font-nav();
  text-transform: uppercase;
}

.main-nav__toggle {
  .visually-hidden();
}

@media @tablet-width {

  .main-nav {
    min-height: 56px;
  }

  .main-nav__items {
    flex-direction: row;
    justify-content: space-around;
    background-color: @bg-white;
    border: none;
  }

  .main-nav__link {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  }

  .main-nav__toggle {
    display: none;
  }
}
