.main-image {
  display: flex;
  justify-content: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media @tablet-width {
  .main-image {
    min-height: 518px;
  }

  .main-image--rest {
    min-height: 290px;
  }
}
