.page-footer {
  text-transform: uppercase;
  background-color: @bg-white;
}

.page-footer__hashtag {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.page-footer__copyright {
  display: block;
  padding-top: 40px;
  padding-bottom: 30px;
  .font-regular-grey();
}
