.page-title {
  .flex-column-center();
  background-color: @bg-white;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.page-title__heading {
  margin-top: 35px;
  margin-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  .font-title();
  color: #000000;
  text-transform: uppercase;
}

.page-title__caption {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 12px;
  padding-right: 12px;
  .font-regular-grey();
}

@media @tablet-width {

  .page-title {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-title__heading {
    width: 450px;
  }

  .page-title__heading--rest {
    font-size: 30px;
  }

  .page-title__caption  {
    width: 500px;
  }
}
