.page-footer {
  text-transform: uppercase;
  background-color: @bg-white;
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.page-footer__copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}
