.page-header {
  position: relative;
  min-height: 279px;
}

.page-header__logo {
    display: none; //временно
    position: absolute;
    bottom: 0;
    left: 40%;
  }

@media @tablet-width {
  .page-header {
    min-height: 56px;
  }
}
