.page-title {
  background-color: @bg-white;
}

.page-title__heading {
  margin-top: 35px;
  margin-bottom: 20px;
  .font-title();
  color: #000000;
  text-transform: uppercase;
}

.page-title__caption {
  margin-top: 0;
  margin-bottom: 30px;
  .font-regular-grey();
}
