.page-title {
  background-color: @bg-white;
}

.page-title__heading {
  .font-title();
  color: #000000;
  text-transform: uppercase;
}

.page-title__caption {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}
