.photo {
  position: relative;
  margin-bottom: 17px;

  &::before {
    position: absolute;
    top: 0;
    left: -20px;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }
}

.photo__item {
  margin: 0;
  margin-top: 23px;
}

.photo__title-caption {
  display: block;
  margin-top: 12px;
  .font-regular();
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.photo__title-author {
  .font-regular();
  color: #333333;
}

.photo__upvote-count {
  display: block;
  margin-top: 8px;
  padding-left: 37px;
  .font-regular();
  font-weight: bold;
  color: #000000;
}

@media @tablet-width {

  .photo {
    flex-grow: 1;
    width: 324px;
    margin-bottom: 0;

    &:first-child {
      flex-grow: 2;
      width: 100%;
    }

    &::before {
    display: none;
    }
  }

  .photo--last {
    flex-grow: 0;
  }

  .photo__item {
    height: 267px;
    margin-top: 0;
    background-color: @bg-body;
  }

  .photo__item img {
    width: 324px;
    height: 267px;
  }

  .photo__item--first {
    height: 400px;
  }

  .photo__item--first img {
    width: 648px;
    height: 400px;
  }

  .photo__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: @bg-body;
  }

  .photo__title {
    width: 239px;
  }

  .photo__title-caption {
    margin-top: 0;
  }

  .photo__title-caption,
  .photo__title-author {
    padding-left: 20px;
  }

  .photo__upvote {
    display: flex;
    justify-content: flex-end;
    width: 85px;
  }

  .photo__upvote-count {
    display: block;
    width: 53px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
}

@media @desktop-width {

  .photo {
    position: relative;
    width: 400px;
  }

  .photo__item img {
    width: 400px;
    height: 267px;
  }

  .photo__item--first {
    height: 400px;
  }

  .photo__item--first img {
    width: 1200px;
    height: 400px;
  }

  .photo__label {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo__title-caption,
  .photo__title-author,
  .photo__upvote-count {
    color: #ffffff;
  }
}
