.photo__caption {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.photo__author {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.photo__likes {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
