.video {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 80px;
  text-align: center;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }
}

.video__heading {
  display: block;
  margin-top: 35px;
  padding-bottom: 25px;
  .font-title();
  color: #000000;
  text-transform: uppercase;
}

.video__item {
  margin: 0;
}

.video__item figcaption {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
}

@media @tablet-width {

  .video {
    padding-bottom: 0;
    margin-bottom: 40px;

    &::before {
      display: none;
    }
  }

  .video__item {
    width: 648px;
    .flex-column-center();
  }

  .video__item picture {
    height: 500px;
  }

  .video__item img {
    width: 648px;
    height: 500px;
  }

  .video__heading {
    margin-top: 65px;
    padding-bottom: 30px;
    font-size: 30px;
  }

  .video__item figcaption {
    width: 420px;
    margin-bottom: 73px;
  }
}

@media @desktop-width {
  .video {
    display: flex;
    flex-direction: column;
    margin-bottom: 81px;
  }

  .video__item {
    width: 800px;
  }

  .video__item img {
    width: 800px;
    height: 500px;
  }

  .video__heading {
    margin-top: 70px;
  }

  .video__item figcaption {
    margin-bottom: 72px;
  }

}
