.video-controls {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 17px;
  left: 20px;
  width: 280px;
  height: 111px;
}

.video-controls__top {
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video-controls__refresh {
  width: 70px;
  height: 66px;
  background-color: @bg-body;
}

.video-controls__bottom {
  width: 210px;
  height: 66px;
  background-color: @bg-body;
}

@media @tablet-width {

  .video-controls {
    left: 0;
    bottom: 0;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 648px;
    height: 93px;
  }

  .video-controls__refresh {
    order: 1;
    width: 86px;
    height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video-controls__top {
    order: 2;
    width: 400px;
    height: 93px;
  }

  .video-controls__bottom {
    order: 3;
    background-color: rgba(0, 0, 0, 0.6);
    width: 162px;
    height: 93px;
  }
}

@media @desktop-width {

  .video-controls {
    width: 800px;
  }

  .video-controls__refresh {
    width: 80px;
  }

  .video-controls__top {
    width: 570px;
  }

  .video-controls__bottom {
    width: 150px;
  }
}
