.video__heading {
  .font-title();
  color: #000000;
  text-transform: uppercase;
}

.video__item figcaption {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
}
